# Final Project: Basic Dataframe, Data Preparation, Plot, Sort, Summary
# ( 100 pts)

## Name
### Student ID:

In [42]:
%matplotlib inline
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('data//covid-data.csv')

In [44]:
# limiting the display rows
pd.set_option('display.max_rows', 5)
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56319,NaN,NaN,International,2020-11-11,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56320,NaN,NaN,International,2020-11-12,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# A) Basic Dataframe: Statistics in the world (20 points)

In [7]:
# Show number of records 
import random
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

print("Number of records:" ,len(df))
df

You name , id:  2383
------------------------------
Number of records: 56321

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56319,NaN,NaN,International,2020-11-11,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56320,NaN,NaN,International,2020-11-12,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#1) Show all the column names (2 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

names = df.columns
names

print("Show all the column names")

You name , id:  5100
------------------------------
Show all the column names
iso_code
continent
location
date
total_cases
new_cases
new_cases_smoothed
total_deaths
new_deaths
new_deaths_smoothed
total_cases_per_million
new_cases_per_million
new_cases_smoothed_per_million
total_deaths_per_million
new_deaths_per_million
new_deaths_smoothed_per_million
icu_patients
icu_patients_per_million
hosp_patients
hosp_patients_per_million
weekly_icu_admissions
weekly_icu_admissions_per_million
weekly_hosp_admissions
weekly_hosp_admissions_per_million
total_tests
new_tests
total_tests_per_thousand
new_tests_per_thousand
new_tests_smoothed
new_tests_smoothed_per_thousand
tests_per_case
positive_rate
tests_units
stringency_index
population
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
extreme_poverty
cardiovasc_death_rate
diabetes_prevalence
female_smokers
male_smokers
handwashing_facilities
hospital_beds_per_thousand
life_expectancy
human_development_index

In [10]:
#2) Show all the continent's names (remove the duplicate, and NaN value) (2 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  6211
------------------------------
Number of continents
7
Show all the continent names:
North America
Asia
Africa
Europe
South America
Oceania

In [39]:
#3) How many records for the location 'World'
#  Show last five rows from the location  'world'  (2 pts)

Records for the location 'World' 318

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
55998,OWID_WRL,NaN,World,2020-11-08,49964987.0,573453.0,540075.429,1250607.0,7208.0,7720.143,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
55999,OWID_WRL,NaN,World,2020-11-09,50483176.0,518189.0,544509.143,1256739.0,6132.0,7835.143,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
56000,OWID_WRL,NaN,World,2020-11-10,51036867.0,553691.0,556380.143,1264906.0,8167.0,8129.714,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
56001,OWID_WRL,NaN,World,2020-11-11,51584350.0,547483.0,562455.429,1274858.0,9952.0,8145.143,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN
56002,OWID_WRL,NaN,World,2020-11-12,52143259.0,558909.0,560909.429,1284610.0,9752.0,8243.714,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,NaN

In [34]:
#4) Show the last record of the location  'world' 
# And show total cases, total deaths, population, life_expectancy from the location 'World' ( 4 pts)
# res = world.iloc[-1]
res

Total covid cases in the world: 52143259.0
Total covid total_deaths cases in the world: 1284610.0
Population of the world: 7794798729.0
life_expectancy of the world: 72.58

In [35]:
#5) Show how many countries(location) names
#  (remove the duplicate and world) in the dataset ( 2 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

df = df[ (df['location'] != 'World') ]

You name , id:  7422
------------------------------
The number of countries(location) names in the dataset:  215

In [68]:
#6) Show all the countries(location) names
# (remove the duplicate and world) in the dataset ( 2 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  8519
------------------------------
Show all the locations names:
Aruba
Afghanistan
Angola
Anguilla
Albania
Andorra
United Arab Emirates
Argentina
Armenia
Antigua and Barbuda
Australia
Austria
Azerbaijan
Burundi
Belgium
Benin
Bonaire Sint Eustatius and Saba
Burkina Faso
Bangladesh
Bulgaria
Bahrain
Bahamas
Bosnia and Herzegovina
Belarus
Belize
Bermuda
Bolivia
Brazil
Barbados
Brunei
Bhutan
Botswana
Central African Republic
Canada
Switzerland
Chile
China
Cote d'Ivoire
Cameroon
Democratic Republic of Congo
Congo
Colombia
Comoros
Cape Verde
Costa Rica
Cuba
Curacao
Cayman Islands
Cyprus
Czech Republic
Germany
Djibouti
Dominica
Denmark
Dominican Republic
Algeria
Ecuador
Egypt
Eritrea
Western Sahara
Spain
Estonia
Ethiopia
Finland
Fiji
Falkland Islands
France
Faeroe Islands
Gabon
United Kingdom
Georgia
Guernsey
Ghana
Gibraltar
Guinea
Gambia
Guinea-Bissau
Equatorial Guinea
Greece
Grenada
Greenland
Guatemala
Guam
Guyana
Hong Kong
Honduras
Croatia
Haiti
Hungary
Indonesia
Isle of Man
India
Ireland
Iran
Iraq
Iceland
Israel
Italy
Jamaica
Jersey
Jordan
Japan
Kazakhstan
Kenya
Kyrgyzstan
Cambodia
Saint Kitts and Nevis
South Korea
Kuwait
Laos
Lebanon
Liberia
Libya
Saint Lucia
Liechtenstein
Sri Lanka
Lesotho
Lithuania
Luxembourg
Latvia
Morocco
Monaco
Moldova
Madagascar
Maldives
Mexico
Marshall Islands
Macedonia
Mali
Malta
Myanmar
Montenegro
Mongolia
Northern Mariana Islands
Mozambique
Mauritania
Montserrat
Mauritius
Malawi
Malaysia
Namibia
New Caledonia
Niger
Nigeria
Nicaragua
Netherlands
Norway
Nepal
New Zealand
Oman
Pakistan
Panama
Peru
Philippines
Papua New Guinea
Poland
Puerto Rico
Portugal
Paraguay
Palestine
French Polynesia
Qatar
Romania
Russia
Rwanda
Saudi Arabia
Sudan
Senegal
Singapore
Solomon Islands
Sierra Leone
El Salvador
San Marino
Somalia
Serbia
South Sudan
Sao Tome and Principe
Suriname
Slovakia
Slovenia
Sweden
Swaziland
Sint Maarten (Dutch part)
Seychelles
Syria
Turks and Caicos Islands
Chad
Togo
Thailand
Tajikistan
Timor
Trinidad and Tobago
Tunisia
Turkey
Taiwan
Tanzania
Uganda
Ukraine
Uruguay
United States
Uzbekistan
Vatican
Saint Vincent and the Grenadines
Venezuela
British Virgin Islands
United States Virgin Islands
Vietnam
Vanuatu
Wallis and Futuna
Kosovo
Yemen
South Africa
Zambia
Zimbabwe
International

In [45]:
#7) Show the totol number of cases in the world
# (Make sure not include the location 'world', and add new_cases from each location)
# Compare your result with problem 3)

You name , id:  1348
------------------------------
56003
Show the totol number of convid cases in the world 52140221.0

In [48]:
#8) Show the totol number of deaths in the world
# (Make sure not include the location 'world', add new_deaths from each location)
# Compare your result with problem 3)

You name , id:  8706
------------------------------
Show the totol number of convid deaths in the world

1284436.0

In [49]:
#9) Show the death rate ( number of deaths/ total covid cases) in the world

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  2637
------------------------------
Show the death rate in the world
2.46%

In [73]:
# 10) Show the average median age of the world, the average life expectancy in worldwide
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  3861
------------------------------
Show the average median_age of the world
38
Show the average life expectancy of the world
74

# B) Basic Statistics for a country (Select your own country)
# ( 30 points)

# For example, I chose Brazil

In [51]:
# Show number of records for Brazil in this dataset 
import random
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  4215
------------------------------
Number of records: 318

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
7202,BRA,South America,Brazil,2019-12-31,NaN,0.0,NaN,NaN,0.0,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
7203,BRA,South America,Brazil,2020-01-01,NaN,0.0,NaN,NaN,0.0,NaN,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7518,BRA,South America,Brazil,2020-11-11,5664115.0,10554.0,14009.429,162397.0,128.0,271.571,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759
7519,BRA,South America,Brazil,2020-11-12,5675032.0,10917.0,12143.857,162628.0,231.0,217.429,...,14103.452,3.4,177.961,8.11,10.1,17.9,NaN,2.2,75.88,0.759

In [52]:
#1) Show the totol number of covid cases in Brazil ( 3 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  6246
------------------------------
Show the totol number of convid cases in Brazil

5675032.0

In [76]:
#2) Show the totol number of covid deaths in Brazil ( 3 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  6234
------------------------------
Show the totol number of convid deaths in Brazil

162628.0

In [78]:
# 3-4) Show the death rate in Brazil , 
# Is it above or lower than the worldwide death rate?
# (3 pts)

number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

res = df[df['location']=='Brazil']

You name , id:  1993
------------------------------
Show the death rate in Brazil
2.87%
Show the death rate in the world
2.46%
Brazil is above the world level

In [80]:
# 5-6) Show the average new_cases_per_million people in Brazil 
# Is it above or lower than the worldwide level.
# (6 pts)
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  5671
------------------------------
Show the average new cases_per_million in Brazil
84
Show the average new cases_per_million in the world
38
Brazil is above the world level

In [53]:
# 7-8) Show the life_expectancy in Brazil, 
# and compare it to the average of life_expectancy in the world
#(6 pts)
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  1039
------------------------------
Show the life expectancy of the Brazil
75.88
Show the life expectancy of the world
74
Brazil is above the world level

In [87]:
# 9) Show the Brazil's population and population of aged_70_older (3 pts)
# 10) What is the percentage of population in aged_70_older in Brazil? (3 pts)
number = random.randint(0,10000)
print("You name , id: ", number )
print('------------------------------')

You name , id:  453
------------------------------
Show the total population of Brazil
212559409.0
Show the population of of aged_70_older in Brazil
5060000.0
Pencentage is 2.4%

In [59]:
# 11) How many days which new cases is over 1000
# How many days which new cases is over 10000

res = df [ (df['location']=='Brazil') & (df['new_cases']>5000) ]
print("How many days which new cases is over 5000 in Brazil")
print(len(res))

res = df [ (df['location']=='Brazil') & (df['new_cases']>20000) ]
print("How many days which new cases is over 20000 in Brazil")
print(len(res))

How many days which new cases is over 5000 in Brazil
193
How many days which new cases is over 20000 in Brazil
132